@page "/ModelPage/{ModelId:int}"
@using ModelProject.Model
@inject ModelProvider ModelProvider
@inject NavigationManager NavigationManager
@inject ModelFileProvider ModelFileProvider


<PageTitle>Model Details</PageTitle>

@*If models are missing it will display Loading*@
@if (digitalModel == null)
{
    <p>Loading model details...</p>
}
else
{
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        
                        @*path to display image of the model*@
                        @foreach (var ImageUrl in imageFiles)
                        {
                            <img src="/img/digitalmodels/@digitalModel.ImageUrl" class="img-thumbnail" alt="@digitalModel.Title" onerror="this.onerror = null; this.src='/img/no_digitalmodels.png'">
                        }

                        @foreach (var file in modelFiles)
                        {
                           
                          <a class="btn btn-success" href="@ModelFileProvider.GetDownloadLink(file)" download="@file">
                            <i class="bi bi-download"></i> Download @file
                          </a>
                            
                        }
                    </div>
                    
                </div>
            </div>
            @*Displays all relevent data about a specific model which relates to what the user inputted*@
            <div class="col-md-6">
                <h1>@digitalModel.Title</h1>
                <p><strong>Category:</strong> @digitalModel.Category</p>
                <p><strong>Specifications:</strong> @digitalModel.Specifications</p>
                <p><strong>Description:</strong> @digitalModel.Description</p>
                <p><strong>Downloads:</strong> @digitalModel.Downloads</p>
                <p><strong>File Size:</strong> @digitalModel.FileSize MB</p>
               

                @*Redirects the user to the homepage if they press the button*@
                <button @onclick="NavigateToHome" class="btn btn-secondary ms-2">Back to Home</button>
            </div>
        </div>
        <div class="row mt-4">
            <h4>Available Model Files</h4>
            <ul>
                @*Shows the available files (files uploaded by the user) *@
                @foreach (var file in modelFiles)
                {
                    <li><a href="@file" target="_blank">@file</a></li>
                }
            </ul>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ModelId { get; set; }
    private string[] imageUrl = [];

    private DigitalModel? digitalModel;
    private List<string> imageFiles = new();
    private List<string> modelFiles = new();

    //downloads
    protected override async Task OnInitializedAsync()
    {
        digitalModel = await ModelProvider.GetModelByIdAsync(ModelId);
        if (digitalModel != null)
        {
            //increases downloads by one every click
            digitalModel.Downloads++;
            //saves the clicks to the database
            ModelProvider.UpdateModelAsync(digitalModel);
            modelFiles = digitalModel.ModelFiles.Split(',').ToList();
            imageFiles = digitalModel.ImageUrl.Split(',').ToList();
        }
    }

     
    

    // navigation command to the home page
    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}