@page "/Upload"

<h5>Upload Page</h5>

@*Allows the user to input a Model Name:*@
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-defult">Model Name:</span>
    <input type="text" class="form-control" aria-label="Enter Here" aria-describedy="inputGroup-sizing-defullt">
</div>

@*Allows the user to input the Files of a 3D model*@
<div class="mb-3">
 <label for="="formFile" class="form-label">Please Input The Model Files</label>
 <input class="form-control" type="file" id="formFile" accept=".obj,.fbx,.stl,.gltf,.glb" multiple>
</div>

@*Allows the user to input images of a 3D model*@
<div class="mb-3">
    <label for="=" formFile" class="form-label">Please Input Images of the 3D Model</label>
    <input class="form-control" type="file" id="formFile" accept=".jpf,.jpeg,.png" multiple>
</div>

@*Allows the user to input a description*@
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-defult">Description:</span>
    <input type="text" class="form-control" aria-label="Enter Here" aria-describedy="inputGroup-sizing-defullt">
</div>

@*Allows the user to input a description*@
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-defult">Specifications</span>
    <input type="text" class="form-control" aria-label="Enter Here" aria-describedy="inputGroup-sizing-defullt">
</div>

<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        @(string.IsNullOrEmpty(selectedCategory) ? "Category" : selectedCategory)
    </button>
    <ul class="dropdown-menu">
        @foreach (var category in categories)
        {
            <li><a class="dropdown-item" @onclick="@(() => SelectCategory(category))">@category</a></li>
        }
    </ul>
</div>

<div class="btn-group">
   <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        @(string.IsNullOrEmpty(selectedFormat) ? "File Format" :selectedFormat) 
   </button>
    <ul class="dropdown-menu">
        @foreach (var format in fileFormats)
        {
            <li><a class="dropdown-item" @onclick="@(() => SelectFormat(format))">@format</a></li>
        }
    </ul>
</div>

<input class="btn btn primary" type="submit" value="Submit"> 



@code 
{
    private string selectedCategory;
    private string selectedFormat;

    private List<string> categories = new() { "Vehicles", "Sci-Fi", "Animal", "Horror", "Videogame", "Character" };
    private List<string> fileFormats = new() { "obj", "fbx", "stl", "gltf", "glb" };

    private void SelectCategory(string category)
    {
        selectedCategory = category;
    }

    private void SelectFormat(string format)
    {
        selectedFormat = format;
    }


}
